.title {
    width: 100%;
    text-align: center;
}

.title h1, p {
    color: darkgoldenrod;
}

.title p a, .title a {
    font-size: 1.8rem;
    color: darkgoldenrod;
}

.title p a:hover, .title a:hover {
    color: #388667;
}